{% extends '_base.html' %}

{% block content %}
<div class="card " style="width: 50%;margin: 20px 50px ;">
  <img src="https://cdn.dribbble.com/users/4494514/screenshots/15009533/artboard_6_copy_4_4x.png" class="card-img-top" alt="..." style="width:100% ; height: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Bookshelf</h5>
    <p class="card-text">An online book store </p>
  </div>
  <p class="card-text"><b>Follow us :</b></p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Facebook : <a href="http//www.facebook.com">bookshelf</a></li>
    <li class="list-group-item">Instagram : <a href="http//instagram.com">bookshelf</a></li>
    <li class="list-group-item">Twitter : <a href="http//twitter.com">bookshelf</a></li>
  </ul>
  <div class="card-body">
    <p class="card-text"><b>Address:</b></p>
    <a href="#" class="card-link">Tafila - Al-Iss</a>
  </div>
</div>
{% endblock %}